#aboutDialog {
  padding-top: 0;
  -moz-padding-end: 0;
  padding-bottom: 10px;
  -moz-padding-start: 0;
  width: 299px;
}

#modes {
  min-height: 400px;
}

#clientBox {
  background-image: url("chrome://branding/content/about.png");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  padding-top: 236px;
  color: #000000;
}

#brandName {
  font-weight: bold; font-size: larger;
} 

#userAgent {
  direction: ltr;
  margin-top: 10px;
  margin-right: 13px;
  margin-bottom: 0;
  margin-left: 13px;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  -moz-appearance: none;
  overflow: hidden;
  border: 0;
}

#groove {
  margin-top: 0;
}

#creditsIframe {
  cursor: default;
  -moz-user-select: none;
  border: 0;
}

#version {
  font-weight: bold;
  color: #909090;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 17px;
}

#distribution {
  font-weight: bold;
  color: #909090;
  display: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 17px;
}

#distributionId {
  font-weight: bold;
  color: #909090;
  display: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 17px;
}

#copyright, #charlton {
  margin-top: 0;
  -moz-margin-end: 16px;
  margin-bottom: 3px;
  -moz-margin-start: 16px;
}

#charlton {
  direction: ltr;
  unicode-bidi: bidi-override;
}

button[dlgtype="extra2"] {
  margin-left: 13px;
}

button[dlgtype="accept"] {
  margin-right: 13px;
}

.text-link,
.text-link:focus {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#updateDeck > hbox > label {
  margin-left: 13px;
}

.update-throbber {
  width: 16px;
  min-height: 16px;
  margin-inline-end: 3px;
  list-style-image: url("chrome://global/skin/icons/loading.png");
}

@media (min-resolution: 1.1dppx) {
  .update-throbber {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png");
  }
}